node_modules
.svelte-kit
build
.env
.env.*
!.env.example
.vercel
.output
.pnpm-debug.log*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.history
.venv
venv
package-lock.json
yarn.lock
pnpm-lock.yaml
